
<div class="container">
  <form action="answer" class="form-column">
      <label for="question">Speak to your coach</label>
      <input type="text" class="form-control" id="question" name="query" placeholder="What time is it?">
      <input type="submit" value="Go on!" class="btn btn-primary">
    </div>
  </form>
</div>
